.card {
    width: 200px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main {
    display: flex;
    justify-content: flex-start;
}